{% extends "layout.html" %}

{% block title %}Iniciar Sesión - MiTyT{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-96 py-20">
    <div class="text-center mb-12">
      <h1 class="text-5xl font-bold text-gray-900 mb-4">Iniciar Sesión en MiTyT</h1>
    </div>

    <div class="w-full max-w-md">
      <form id="loginForm" class="bg-white shadow-lg rounded-lg px-7 pt-6 pb-8 mb-4 py-12">
        <div class="mb-4 space-y-8">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username" type="text">
            Usuario
          </label>
            <input
                type="email"
                id="username"
                placeholder="Ingresa tu usuario"
                class="w-full px-3 py-2 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-blue-600 shadow-lg transition"
            />
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password" type="password">
                Contraseña
            </label>
            <input
                type="password"
                id="password"
                placeholder="Ingresa tu contraseña"
                class="w-full px-3 py-2 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-blue-600 shadow-lg transition"
                />
        </div>
        <button
          id="loginButton"
          class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition font-semibold text-lg shadow-lg w-full"
        >Iniciar Sesión
        </button>
        </form>
    </div>
</div>

{% endblock %}